<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>CV Amaya Nicolás Agustín</title>
</head>
<body>
    <main>
        <section>
            <h1>Carta de Presentacion</h1>
            <p>
                Durante mi experiencia laboral trabajé por cuatro años como técnico electrónico en industria química (Albough) y automotriz (Nemak). Además por cinco años como técnico nuclear en Central Nuclear Embalse (trabajo actual).
Actualmente estoy enfocando mi perfil hacía el desarrollo de software. Si bien no tengo experiencia en una empresa IT, estuve en una start up desarrollando una cortadora de césped automática a través de Arduino utilizando C++.
Luego en Python realicé cursos de interconexión con API a través de Matba Rofex.
Sigo capacitándome con los libros del autor Pisano Juan, donde he visto librerías como Pandas, Matplotlib, Numpy, entre otras. Gracias a ellos, desarrollé un bot para el mercado de criptomonedas, que opera las 24 horas, los 7 días a la semana.
En la actualidad recibí una beca para cursar la carrera Certified Tech Developer en Digital House.
Por último estoy estudiando Inglés para rendir el examen internacional FIRST.
            </p>
        </section>

    </main>
    
</body>
</html>