body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #222222;
    padding: 10px;
    box-sizing: border-box
}

img.logo {
    height: 80px;
}

body header nav{
    width: 30%
}

body header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F3F3F3;
    padding: 0;
    margin: 0
}

body main{
    margin: 10% 5%;
}

body main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%
}
body main section article.primer {
    width: 50%;
}

body main section article.primer p{
    position: absolute;
    font-family: 'Roboto';
    color: #FC200C;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 2%;
    margin-left: 2%;
}

body main section article.primer span.blanco{
    color: white;
}

body main section article.primer img{
    width: 592.66px;
}

body main section article.segundo{
    width: 50%;
    background-color: #FFFFFF;

}

body main section article.segundo p{
    font-family: 'Roboto';
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
    margin-top: 5%;
}

body main section article.segundo span{
    position: relative;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    top: 10%;
    left: 15%;
    color: #222222;
}

body main section article.segundo div{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 10%;
    height: 200px;
}

body main section article.segundo div ol{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 150px;
    background-color: #222222;
    padding: 15px;
    box-sizing: border-box;
}

body footer nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F3F3F3;
    padding: 0;
    margin-left: 10%;
    height: 130px
}
