body{width: 1024px}
header{width: 1024px}
h1 {z-index:-1}
main{width: 1024px}
footer{width: 1024px}
body header section.primer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
    height: 20px;
}
body header section.primer span{
    position: absolute;
    width: 138px;
    /*top: 4px;
    height: 12px;*/
    left: calc(50% - 138px/2 - 353px);
    /*left: 15%;*/
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F3F3F3;
}
body header section.primer nav{
    position: absolute;
    /*width: 15%;
    top: 4px;
    height: 12px;
    left: calc(50% - 36px/2 + 388px);
    right: 10%;*/
    left: 882px;
    width: 100px;
}
body header section.primer nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F3F3F3;
}
body header section.segundo{
    display: flex;
    height: 62px;
    flex-direction: row;
    align-items: center;
    background-color: #F0A83E;
}

body header section.segundo a{
    position: absolute;
    width: 166.38px;
    height: 23px;
    left: 40px;
}

body header section.segundo nav{
    position: absolute;
    width: 343px;
    left: 641px
}
body header section.segundo nav ul{
    display: flex;
    list-style-image: url('img/pawprint.png');
    justify-content: space-between;
}

