<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <title>Clase 10</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
</head>

<body>
    <header>
        <section class="descuento">
            <p>20% de descuento en todos los productos!</p>
        </section>
        <section class="titulo">
            <a href="../index.html"><h1><img src="../img/logo 1.png" alt="Logo"></h1></a>
            <span>Nombre Tienda</span>
        </section>
        <section class="log">
            <a href="">Contacto</a>
            <a href="">Registrarse</a>
            <a href="">Ingresar</a>
            </section>
    </header>

    <main class="agre_super"> 
        <div class="principal">
            <h2>Añadí a tu súper!</h2>
            <p class="subtit">Agregá tu personaje favorito completando las opciones.</p>
            
            <div class="primer">
                <form method="post" action="">
                    <div class="derecho">
                        <p class="categoria">*Nombre:</p>
                        <input type="text" name="nombre">
                    </div>
                    <div>
                        <p class="categoria">*Especie:</p>
                        <select placeholder="Especie"> 
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>                    
                        </select>
                    </div>
                </form>
            </div>
            
            <div class="segun">
                <form method="post" action="">
                    <div class="derecho">
                        <p class="categoria">Fecha:</p>
                        <input type="date" name="fecha">
                    </div>
                    <div>
                        <p class="categoria">Agregar foto:</p>
                        <input type="file" name="foto" accept=".jpg" multiple>    
                    </div>
                </form>
            </div>
            <div class="tercer">
                <form method="post" action="">
                    <div class="derecho">
                        <input type="textarea" name="descripcion" placeholder="Descripción">
                    </div>

                    <div>
                        <p class="categoria">Poderes:</p>
                        <input type="checkbox" name="poderes" id="volar">
                        <label for="volar">Volar</label>
                        <br>
                        <input type="checkbox" name="poderes" id="Superintelingencia">
                        <label for="Superintelingencia">Superintelingencia</label>
                        <br>
                        <input type="checkbox" name="poderes" id="Vista">
                        <label for="Vista">Vista de rayos láser</label>
                        <br>
                        <input type="checkbox" name="poderes" id="Billetera">
                        <label for="Billetera">Billetera gorda</label>
                        
                        <div class="linea"></div>

                        <p class="categoria">Tipo de personaje:</p>
                        <input type="radio" name="tipo" id="heroe" checked>
                        <label for="heroe">Heroe / Heroína</label>
                        <br>
                        <input type="radio" name="tipo" id="villano">
                        <label for="villano">Villano / Villana</label>
                    </div>
                </form>
            </div>
            <form method="post" action="">
                <button type="submit">Añadir</button>
            </form>
            
        </div>            
    </main>
    
    <footer>
        <span> Todos los derechos reservados a FRONT END 1</span>
    </footer>
</body>
</html>