*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    background-color: #E5E5E5;
}
body header section.descuento{
    background: #1CD1B0;
    padding: 3px;
    padding-left: 20px; 
}
body header section.descuento p{
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
}
body header section.titulo {
    display: flex;
    align-items: center;
    background-color: #00669F;
    padding: 3px;
    padding-left: 10px;
}
body header section.titulo span{
    padding-left: 10px;
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
body header section.log{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: #001D2D;
    padding: 10px 20px 10px
}
body header section.log a{
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
body main{
    /*position: relative;
    width: 960px;
    height: 530px;
    left: 32px;
    top: 292px;*/
    padding: 180px 14.58vw
}
body main img.boton{
    position: absolute;
    left: 92.5%;
    top: 75%
}
body main.index div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E5E5E5;
}
body main div article{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    padding-bottom: 15px;
    min-width: 300px;
    width: 20.83vw;
    border-radius: 16px 16px 0px 0px;
}
body main div article img.portada{
    width: 100%;
}
body main div article img.like{
    position: absolute;
    top: 3%;
    left: 6%;
}
body main div article img.perfil{
    position: absolute;
    top: 25%;
    border-radius: 50%;
}
body main div article h2{
    font-family: 'Roboto';
    padding-top: 75px;
    font-size: 30px;
    line-height: 35px;    
    color: #000000;
}
body main div article p.letras{
    /*top: 250px;
    left: 25px;
    width: 250px;*/
    padding: 10px 15px 35px 15px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

body main div article button{
    /*position: relative;
    left: 85px;*/
    width: 130px;
    height: 50px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #00669F;
    color: #F3F3F3;
}
body footer{
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 38.18vw;
}
body footer span{
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFF9F9;
}

/* DESDE AQUI, agregar_super.html*/

main.agre_super{
    padding: 40px 16.87vw 40px 16.87vw;
}
main.agre_super div.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-width: 955px;
    width: 66.31vw;*/
    padding: 5px 8.33vw 15px 8.33vw;
    background-color: #00669F;
}
main.agre_super div.principal h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    /*text-align: center;*/
    color: #FBFFFD;
}
main.agre_super div.principal p.subtit{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;
}
form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
main.agre_super p.categoria{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
    color: #FFFFFF;
}
main.agre_super div.principal div.primer, div.segun, div.tercer{
    width: 100%;
    padding: 20px 0px 30px 0px;
}
main.agre_super div.principal div.derecho{
    padding-right: 20px;
}    
main.agre_super div.principal div.primer form input[type=text], select, input[type=date]{
    background: #FFFFFF;
    font-size: 20px;
    width: 22.81vw;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 5px;
    border-radius: 15.3407px;
}
main.agre_super div.principal div.tercer form input[type=textarea]{ 
    padding: 10px 5px 260px 10px;
    width: 22.81vw;
    font-size: 20px;
    background: #FFFFFF;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 15.3407px;
}
main.agre_super div.principal div.tercer label{
    font-family: 'Inter';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
} 
main.agre_super div.principal div.tercer div.linea{
    border: 1px solid #CCCCCC;
    width: 22.81vw;
    margin: 35px 0px 25px 0px;
}
main.agre_super div.principal form button{
    width: 32.36vw;
    height: 85px;
    background: #1CD1B0;
    border-radius: 23.011px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #000000;
    margin-top: 40px;
}