body {
    background-color: #E5E5E5;
}

body header section.descuento{
    background: #1CD1B0;
    position: relative;
    width: 1024px;
    height: 38px;}

body header section.descuento p{
    position: absolute;
    font-family: Roboto;
    left: 10px;
    width: 111px;
    height: 18px;
    top: 10px;
    margin:auto;
    font-size: 15px;
    line-height: 18px;
}

body header section.titulo p{
    position: absolute;
    width: 128px;
    height: 47px;
    left: 28px;    
    top: 28px;
    font-family: Roboto;
    margin: auto;
    font-size: 40px;
    line-height: 47px;
}

body header section.titulo {
    position: relative;
    width: 1024px;
    height: 101px;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    border: 0px solid #000000;
}

body main{
    position: relative;
    width: 960px;
    height: 530px;
    left: 32px;
    top: 292px;
}

body main div.batman{
    position:absolute;
    width: 300px;
    height: 500px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body main div.batman img.like{
    position: absolute;
    top: 3%;
    left: 6%;
}

body main div.batman img.perfil{
    position: absolute;
    left: 30%;
    top: 130px;
    border-radius: 100%;
}

body main div.batman p.letras{
    position: absolute;
    top: 250px;
    left: 25px;
    width: 250px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

body main div.batman button{
    position: absolute;
    top: 425px;
    left: 85px;
    width: 130px;
    height: 50px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #00669F;
    color: #F3F3F3;
}

body main div.harley{
    position:absolute;
    width: 300px;
    height: 500px;
    left: 330px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body main div.harley img.like{
    position: absolute;
    top: 3%;
    left: 6%;
}

body main div.harley img.perfil{
    position: absolute;
    left: 30%;
    top: 130px;
    border-radius: 100%;
}

body main div.harley p.letras{
    position: absolute;
    top: 250px;
    left: 25px;
    width: 250px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

body main div.harley button{
    position: absolute;
    top: 425px;
    left: 85px;
    width: 130px;
    height: 50px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #00669F;
    color: #F3F3F3;
}

body main div.batman_2{
    position:absolute;
    width: 300px;
    height: 500px;
    left: 660px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body main div.batman_2 img.like{
    position: absolute;
    top: 3%;
    left: 6%;
}

body main div.batman_2 img.perfil{
    position: absolute;
    left: 30%;
    top: 130px;
    border-radius: 100%;
}

body main div.batman_2 p.letras{
    position: absolute;
    top: 250px;
    left: 25px;
    width: 250px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

body main div.batman_2 button{
    position: absolute;
    top: 425px;
    left: 85px;
    width: 130px;
    height: 50px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #00669F;
    color: #F3F3F3;
}

body footer{
    position: relative;
    width: 1024px;
    height: 51px;
    left: 0px;
    top: 972px;

    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body footer span{
    position: absolute;
    width: 337px;
    height: 19px;
    left: 16px;
    top: 40%;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFF9F9;
}
